<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="aHB6dVI1MHNFXRInPmNTBSI9FUcZV3REBSdKLTxgBDcuFCgnFFEdSg==">
    <title>Best free ebooks by genre Fiction. Read online at ReadAnyBook.com. Page(1)</title>
    <meta name="google-site-verification" content="qy_TdFTUQs7EJ2djifBmnKRjSqKnur5lRCShQeD0-60">
    
    <meta property="og:site_name" content="Read Any Book">
    <meta name="description" content="Browse any ebooks by genre Fiction. Browse any genre in our library. Read online and add your books to our library. Best fiction books are always available here - the largest online library. Page 1">
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <link href="https://www.readanybook.com/genre/fiction-17" rel="canonical">
    <link href="/public/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript">
        var rating_ca9ad511 = {
            "showClear": false,
            "emptyStar": "\u003Ci class=\u0022glyphicon glyphicon-star\u0022\u003E\u003C\/i\u003E",
            "showCaption": false,
            "size": "xss static",
            "stars": 10,
            "step": 0.1,
            "min": 0,
            "max": 10,
            "language": "en"
        };

        var fileinput_3a7cabbf = {
            "uploadUrl": "https:\/\/www.readanybook.com\/files\/upload",
            "uploadExtraData": {
                "model_id": 1,
                "target_id": 565906,
                "links": "m,cl,ro,fs"
            },
            "allowedFileExtensions": ["epub"],
            "maxFileCount": 1,
            "showPreview": false,
            "showRemove": false,
            "uploadClass": "btn btn-success",
            "elErrorContainer": "#xb-file-modal_error_w6",
            "language": "en",
            "purifyHtml": true
        };
    </script>
	<style>
		.navbar-inverse{background-color:#264f6c;border-color:#264f6c}
		.navbar-inverse .navbar-nav>li>a {
			color: white;
		}
	</style>
</head>

<body>

    <div class="wrap">
		<!--header-->
        <nav class="navbar navbar-inverse navbar-blue">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle menu-open" data-toggle="collapse" data-target="#navbar-blue-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="search-line-close navbar-toggle">
                        <span class="glyphicon glyphicon glyphicon-remove"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="visible-xs" style="margin: 4px 0 0 0; width: 74px; height:auto;" src="images/1.png" >
                        <img class="visible-sm" style="width: 125px; margin: -5px 0 0 30px;" src="images/1.png" >
                        <img class="visible-md visible-lg" style="width: 180px; height:70px" src="images/1.png" alt="">
                    </a>
                    <div style="margin-top:30px" class="search-line" data-url="">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="search" placeholder="Title or author" class="form-control" value="">
                                <span class="input-group-btn">
                                <button class="btn">
                                    <span class="hidden-xs hidden-sm">Search</span>
                                <span class="glyphicon glyphicon-search visible-xs visible-sm"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                <div style="margin-top:25px" id="navbar-blue-collapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav navbar-right nav">
                        <li>
                            <a title="Add book">
                                <span class="glyphicon glyphicon-book book-add-icon">
                                <span class="book-add-icon-back"></span>
                                <span class="glyphicon glyphicon-menu-hamburger book-add-icon-inner"></span>
                                <span class="glyphicon glyphicon-plus book-add-icon-inner"></span>
                                </span>
                                <span class="book-add-text textable">Add book</span>
                                <span class="clear"></span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle xb-login-toggle-button" data-toggle="dropdown">Sign In <span class="caret"></span></a>
                            <ul class="xb-login-inner dropdown-menu" style="width: 220px;padding: 10px">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id="w0" action="" method="post">
                                                
                                                <div class="has-feedback form-group field-loginform-email required">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                                        <input type="text" id="loginform-email" class="form-control text-input" name="LoginForm[email]" placeholder="Email address"> </div>
                                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" style="cursor: pointer;"></span>
                                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" style="cursor: pointer;"></span>
                                                    <div class="help-block"></div>
                                                </div>
                                                <div class="has-feedback form-group field-loginform-password required">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                                        <input type="password" id="loginform-password" class="form-control text-input" name="LoginForm[password]" placeholder="Password"> </div>
                                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" style="cursor: pointer;"></span>
                                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" style="cursor: pointer;"></span>
                                                    <div class="help-block"></div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                </div>

                                                <div class="checkbox">
                                                    <div class="form-group field-loginform-rememberme">

                                                        <div class="help-block"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center">
                                            New here ? <a href="" title="Sign Up"><b>Join Us</b></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>