				<div class="col-xs-12 col-md-4">
        
					<div class="col-xs-12">
						<div class="categories-block">
							<div class="header-text">
								<h2>All genres:</h2></div>
							<div class="items">
								<ul>
									<%
										for(var i = 0; i < categories.length; i++){
									%>
									<li class="genre-item">
										<a href="/series/<%= categories[i].mId%>"><%= categories[i].mName%></a>
									</li>
									<%}%>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-xs-12 right-book-list ">
						<h2>Read Also</h2>
						<div class="list-normalize">
							<div class="book-preview-container col-xs-12 col-sm-6 col-md-12" style="height: 96px;">
								<div class="book-preview">
									<div class="preview-cover">
										<div class="item-cover">
											<div class="image size-ad">
												<a class="link" href="https://www.readanybook.com/ebook/the-history-of-sir-richard-calmady-808" title="Read book The History of Sir Richard Calmady"><img src="https://files.readanybook.com/786040/thumbs/50x81/the-history-of-sir-richard-calmady.jpg" alt="Cover of book The History of Sir Richard Calmady" class="shadow-sm"></a>
											</div>
										</div>
									</div>
									<div class="preview-info">
										<div class="preview-name">
											<a href="https://www.readanybook.com/ebook/the-history-of-sir-richard-calmady-808" title="Read book The History of Sir Richard Calmady">The History of Sir Richard Calmady</a> </div>
										<div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/malet-lucas-2093" title="Malet Lucas books">Malet Lucas</a></span></div>
										<div class="preview-rate">
											<span class="glyphicon glyphicon-star"></span>
											<b>6.94</b> / 10 </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="book-preview-container col-xs-12 col-sm-6 col-md-12" style="height: 96px;">
								<div class="book-preview">
									<div class="preview-cover">
										<div class="item-cover">
											<div class="image size-ad">
												<a class="link" href="https://www.readanybook.com/ebook/fifty-shades-darker-565133" title="Read book Fifty Shades Darker"><img src="https://files.readanybook.com/515551/thumbs/50x81/fifty-shades-darker.jpg" alt="Cover of book Fifty Shades Darker" class="shadow-sm"></a>
											</div>
										</div>
									</div>
									<div class="preview-info">
										<div class="preview-name">
											<a href="https://www.readanybook.com/ebook/fifty-shades-darker-565133" title="Read book Fifty Shades Darker">Fifty Shades Darker</a> </div>
										<div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/el-james-245719" title="E.L. James books">E.L. James</a></span></div>
										<div class="preview-rate">
											<span class="glyphicon glyphicon-star"></span>
											<b>8.98</b> / 10 </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="book-preview-container col-xs-12 col-sm-6 col-md-12" style="height: 96px;">
								<div class="book-preview">
									<div class="preview-cover">
										<div class="item-cover">
											<div class="image size-ad">
												<a class="link" href="https://www.readanybook.com/ebook/it-2-565296" title="Read book It"><img src="https://files.readanybook.com/515395/thumbs/50x81/it.jpg" alt="Cover of book It" class="shadow-sm"></a>
											</div>
										</div>
									</div>
									<div class="preview-info">
										<div class="preview-name">
											<a href="https://www.readanybook.com/ebook/it-2-565296" title="Read book It">It</a> </div>
										<div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/stephen-king-661" title="Stephen King books">Stephen King</a></span></div>
										<div class="preview-rate">
											<span class="glyphicon glyphicon-star"></span>
											<b>9.28</b> / 10 </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="book-preview-container col-xs-12 col-sm-6 col-md-12" style="height: 96px;">
								<div class="book-preview">
									<div class="preview-cover">
										<div class="item-cover">
											<div class="image size-ad">
												<a class="link" href="https://www.readanybook.com/ebook/tulip-fever-565655" title="Read book Tulip Fever"><img src="https://files.readanybook.com/515730/thumbs/50x81/tulip-fever.jpg" alt="Cover of book Tulip Fever" class="shadow-sm"></a>
											</div>
										</div>
									</div>
									<div class="preview-info">
										<div class="preview-name">
											<a href="https://www.readanybook.com/ebook/tulip-fever-565655" title="Read book Tulip Fever">Tulip Fever</a> </div>
										<div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/deborah-moggach-246113" title="Deborah Moggach books">Deborah Moggach</a></span></div>
										<div class="preview-rate">
											<span class="glyphicon glyphicon-star"></span>
											<b>8.01</b> / 10 </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="book-preview-container col-xs-12 col-sm-6 col-md-12" style="height: 96px;">
								<div class="book-preview">
									<div class="preview-cover">
										<div class="item-cover">
											<div class="image size-ad">
												<a class="link" href="https://www.readanybook.com/ebook/The-Fault-in-Our-Stars-1-565815" title="Read book The Fault in Our Stars"><img src="https://files.readanybook.com/783009/thumbs/50x81/the-fault-in-our-stars.jpg" alt="Cover of book The Fault in Our Stars" class="shadow-sm"></a>
											</div>
										</div>
									</div>
									<div class="preview-info">
										<div class="preview-name">
											<a href="https://www.readanybook.com/ebook/The-Fault-in-Our-Stars-1-565815" title="Read book The Fault in Our Stars">The Fault in Our Stars</a> </div>
										<div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/john-green-246198" title="John Green books">John Green</a></span></div>
										<div class="preview-rate">
											<span class="glyphicon glyphicon-star"></span>
											<b>9</b> / 10 </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="book-preview-container col-xs-12 col-sm-6 col-md-12" style="height: 96px;">
								<div class="book-preview">
									<div class="preview-cover">
										<div class="item-cover">
											<div class="image size-ad">
												<a class="link" href="https://www.readanybook.com/ebook/Paper-Towns-1-565817" title="Read book Paper Towns"><img src="https://files.readanybook.com/783011/thumbs/50x81/paper-towns.jpg" alt="Cover of book Paper Towns" class="shadow-sm"></a>
											</div>
										</div>
									</div>
									<div class="preview-info">
										<div class="preview-name">
											<a href="https://www.readanybook.com/ebook/Paper-Towns-1-565817" title="Read book Paper Towns">Paper Towns</a> </div>
										<div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/john-green-246198" title="John Green books">John Green</a></span></div>
										<div class="preview-rate">
											<span class="glyphicon glyphicon-star"></span>
											<b>8.25</b> / 10 </div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>

				</div>