<%- include ../../partials/public/header -%>
		<!--endheader-->
        <div class="container-fluid">
            <div class="category-show">
                <div class="col-xs-12 col-md-8">
                    <h1>Books by genre : Fiction</h1>
                    <div class="category-description">
                    </div>
                    <div><b>Books found: 25257</b></div>
                    <div class="col-xs-12 category-books">
                        <div class="list-normalize col-xs-12">
                            <div class="col-xs-12 col-sm-6 col-lg-4 book-preview-container">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/the-drawing-of-the-three-565906" title="Read book The Drawing of the Three"><img src="https://files.readanybook.com/786097/thumbs/152x264/the-drawing-of-the-three.jpg" alt="Cover of book The Drawing of the Three"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/the-drawing-of-the-three-565906" title="Read book The Drawing of the Three">The Drawing of the Three</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/stephen-king-661" title="Stephen King books">Stephen King</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.78</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 book-preview-container">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/the-gunslinger-565905" title="Read book The Gunslinger"><img src="https://files.readanybook.com/786096/thumbs/152x264/the-gunslinger.jpg" alt="Cover of book The Gunslinger"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/the-gunslinger-565905" title="Read book The Gunslinger">The Gunslinger</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/stephen-king-661" title="Stephen King books">Stephen King</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>8.59</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 book-preview-container">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/the-dark-tower-565904" title="Read book The Dark Tower"><img src="https://files.readanybook.com/786095/thumbs/152x264/the-dark-tower.jpg" alt="Cover of book The Dark Tower"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/the-dark-tower-565904" title="Read book The Dark Tower">The Dark Tower</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/stephen-king-661" title="Stephen King books">Stephen King</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.57</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 book-preview-container">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/the-last-wish-565901" title="Read book The Last Wish"><img src="https://files.readanybook.com/786085/thumbs/152x264/the-last-wish.jpg" alt="Cover of book The Last Wish"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/the-last-wish-565901" title="Read book The Last Wish">The Last Wish</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/andrzej-sapkowski-246223" title="Andrzej Sapkowski books">Andrzej Sapkowski</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.44</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 book-preview-container">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/come-sundown-565900" title="Read book Come Sundown"><img src="https://files.readanybook.com/786081/thumbs/152x264/come-sundown.jpg" alt="Cover of book Come Sundown"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/come-sundown-565900" title="Read book Come Sundown">Come Sundown</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/nora-roberts-246222" title="Nora Roberts books">Nora Roberts</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.79</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4 book-preview-container">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/eleanor-oliphant-is-completely-fine-565899" title="Read book Eleanor Oliphant is Completely Fine"><img src="https://files.readanybook.com/786078/thumbs/152x264/eleanor-oliphant-is-completely-fine.jpg" alt="Cover of book Eleanor Oliphant is Completely Fine"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/eleanor-oliphant-is-completely-fine-565899" title="Read book Eleanor Oliphant is Completely Fine">Eleanor Oliphant is Completely Fine</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/gail-honeyman-246221" title="Gail Honeyman books">Gail Honeyman</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>8.23</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-xs-12 text-right">
                            <ul class="pagination">
                                <li class="prev disabled"><span>«</span></li>
                                <li class="active"><a href="https://www.readanybook.com/genre/fiction-17" data-page="0">1</a></li>
                                <li><a href="https://www.readanybook.com/genre/fiction-17/page-2" data-page="1">2</a></li>
                                <li><a href="https://www.readanybook.com/genre/fiction-17/page-3" data-page="2">3</a></li>
                                
                                <li class="next"><a href="https://www.readanybook.com/genre/fiction-17/page-2" data-page="1">»</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 xb-series-list">
                        <h2>Free book series</h2>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/The-Dark-Tower" title="Read The Dark Tower Series">The Dark Tower</a><span>(3 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Pushing-The-Limits" title="Read Pushing the Limits Series">Pushing the Limits</a><span>(5 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/The-Vampire-Diaries-The-Return" title="Read The Vampire Diaries: the Return Series">The Vampire Diaries: the Return</a><span>(3 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Wallflowers" title="Read Wallflowers Series">Wallflowers</a><span>(4 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Hathaways" title="Read Hathaways Series">Hathaways</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Sugar-Bowl" title="Read Sugar Bowl Series">Sugar Bowl</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Outlander" title="Read Outlander Series">Outlander</a><span>(4 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/The-Mortal-Instruments" title="Read The Mortal Instruments Series">The Mortal Instruments</a><span>(6 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/If-I-Stay" title="Read If I Stay Series">If I Stay</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/robert-langdon" title="Read Robert Langdon Series">Robert Langdon</a><span>(5 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Crossfire" title="Read Crossfire Series">Crossfire</a><span>(5 books)</span></div>
                        
                        <div class="col-xs-12 text-right"><a href="https://www.readanybook.com/free-book-series" title="Free book series">more &gt;&gt;</a></div>
                    </div>
                </div>
				<!--rightbar-->
                <%- include ../../partials/public/right-bar -%>
				<!--endrightbar-->
            </div>
        </div>
    </div>
<%- include ../../partials/public/footer -%>
    