<%- include ../../partials/public/header -%>
		<!--endheader-->
        <div class="container-fluid">

            <div class="main-show">

                <div class="col-xs-12 col-md-8">
                    <div class="col-xs-12 right-book-list main-list main-list-top">
                        <h1>New free books online</h1>
                        <div class="list-normalize">
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="" ><img src="https://files.readanybook.com/786126/thumbs/152x264/stock-trading-for-beginners.jpg" alt="Cover of book Stock Trading for Beginners"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="">Stock Trading for Beginners</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="">Mona Roderick</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>5.19</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href=""><img src="https://files.readanybook.com/786097/thumbs/152x264/the-drawing-of-the-three.jpg" alt="Cover of book The Drawing of the Three"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="">The Drawing of the Three</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="">Stephen King</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.78</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href=""><img src="https://files.readanybook.com/786096/thumbs/152x264/the-gunslinger.jpg" alt="Cover of book The Gunslinger"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="">The Gunslinger</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="">Stephen King</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>8.62</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href=""><img src="https://files.readanybook.com/786095/thumbs/152x264/the-dark-tower.jpg" alt="Cover of book The Dark Tower"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="">The Dark Tower</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="">Stephen King</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.57</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/the-last-wish-565901" title="Read book The Last Wish"><img src="https://files.readanybook.com/786085/thumbs/152x264/the-last-wish.jpg" alt="Cover of book The Last Wish"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/the-last-wish-565901" title="Read book The Last Wish">The Last Wish</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/andrzej-sapkowski-246223" title="Andrzej Sapkowski books">Andrzej Sapkowski</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.49</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/come-sundown-565900" title="Read book Come Sundown"><img src="https://files.readanybook.com/786081/thumbs/152x264/come-sundown.jpg" alt="Cover of book Come Sundown"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/come-sundown-565900" title="Read book Come Sundown">Come Sundown</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/nora-roberts-246222" title="Nora Roberts books">Nora Roberts</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>7.79</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/eleanor-oliphant-is-completely-fine-565899" title="Read book Eleanor Oliphant is Completely Fine"><img src="https://files.readanybook.com/786078/thumbs/152x264/eleanor-oliphant-is-completely-fine.jpg" alt="Cover of book Eleanor Oliphant is Completely Fine"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/eleanor-oliphant-is-completely-fine-565899" title="Read book Eleanor Oliphant is Completely Fine">Eleanor Oliphant is Completely Fine</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/gail-honeyman-246221" title="Gail Honeyman books">Gail Honeyman</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>8.23</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/chasing-impossible-565898" title="Read book Chasing Impossible"><img src="https://files.readanybook.com/786074/thumbs/152x264/chasing-impossible.jpg" alt="Cover of book Chasing Impossible"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/chasing-impossible-565898" title="Read book Chasing Impossible">Chasing Impossible</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/katie-mcgarry-245775" title="Katie Mcgarry books">Katie Mcgarry</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>8.5</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="book-preview-container col-xs-12 col-sm-6 col-lg-4">
                                <div class="book-preview">
                                    <div class="preview-cover">
                                        <div class="item-cover">
                                            <div class="image size-ad">
                                                <a class="link" href="https://www.readanybook.com/ebook/take-me-on-565897" title="Read book Take Me On"><img src="https://files.readanybook.com/786073/thumbs/152x264/take-me-on.jpg" alt="Cover of book Take Me On"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-info">
                                        <div class="preview-name">
                                            <a href="https://www.readanybook.com/ebook/take-me-on-565897" title="Read book Take Me On">Take Me On</a> </div>
                                        <div class="preview-author preview-overflow">by <span class="list"><a href="https://www.readanybook.com/author/katie-mcgarry-245775" title="Katie Mcgarry books">Katie Mcgarry</a></span></div>
                                        <div class="preview-rate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <b>8.8</b> / 10 </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="book-list-separator"></div>

                    
                    <div class="col-xs-12 xb-series-list">
                        <h2>Free book series</h2>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/The-Dark-Tower" title="Read The Dark Tower Series">The Dark Tower</a><span>(3 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Pushing-The-Limits" title="Read Pushing the Limits Series">Pushing the Limits</a><span>(5 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/The-Vampire-Diaries-The-Return" title="Read The Vampire Diaries: the Return Series">The Vampire Diaries: the Return</a><span>(3 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Wallflowers" title="Read Wallflowers Series">Wallflowers</a><span>(4 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Hathaways" title="Read Hathaways Series">Hathaways</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Sugar-Bowl" title="Read Sugar Bowl Series">Sugar Bowl</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Outlander" title="Read Outlander Series">Outlander</a><span>(4 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/The-Mortal-Instruments" title="Read The Mortal Instruments Series">The Mortal Instruments</a><span>(6 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/If-I-Stay" title="Read If I Stay Series">If I Stay</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/robert-langdon" title="Read Robert Langdon Series">Robert Langdon</a><span>(5 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Crossfire" title="Read Crossfire Series">Crossfire</a><span>(5 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Shantaram" title="Read Shantaram Series">Shantaram</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/Me-Before-You" title="Read Me Before You Series">Me Before You</a><span>(2 books)</span></div>
                        <div class="series-list-element col-sm-6"><a href="https://www.readanybook.com/series-online/miss-peregrines-peculiar-children" title="Read Miss Peregrine’s Peculiar Children Series">Miss Peregrine’s Peculiar Children</a><span>(3 books)</span></div>
                        
                        <div class="col-xs-12 text-right"><a href="https://www.readanybook.com/free-book-series" title="Free book series">more &gt;&gt;</a></div>
                    </div>
                    
                </div>
				<!--rightbar-->
                <%- include ../../partials/public/right-bar -%>
			<!--endrightbar-->
            </div>
        </div>
    </div>
<%- include ../../partials/public/footer -%>
    