<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin.css" rel="stylesheet">
  <script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/jquery/jquery.validate.min.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css">
    <style type="text/css">
      .hiden{display:none}
      .error{color:red}

    .label-info {background-color: #5bc0de;}
    </style>

  </head>

  <body class="fixed-nav" id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="">ADMIN CP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="/admin">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">
                Dashboard</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#user">
              <i class="fa fa-fw fa-user"></i>
              <span class="nav-link-text">
                User</span>
            </a>
            <ul class="sidenav-second-level collapse" id="user">

              <li>
                <a href="/admin/user"><i class="fa fa-fw fa-users"></i>All Users</a>
              </li>
              <li>
                <a href="/admin/user/add"><i class="fa fa-fw fa-users"></i>Add new</a>
              </li>

              <li>
                <a href="/admin/profile/"><i class="fa fa-fw fa-info"></i>Your Profile</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="contact">
            <a class="nav-link" href="/admin/contact">
              <i class="fa fa-fw fa-envelope"></i>
              <span class="nav-link-text">
                Contact</span>
            </a>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#book">
              <i class="fa fa-fw fa-tasks"></i>
              <span class="nav-link-text">
                Books</span>
            </a>
            <ul class="sidenav-second-level collapse" id="book">
              <li>
                <a href="/admin/book"><i class="fa fa-fw fa-envira"></i>All Books</a>
              </li>
              <li>
                <a href="/admin/book/add"><i class="fa fa-fw fa-plus"></i>Add New</a>
              </li>
              <li>
                <a href="/admin/comment"><i class="fa fa-fw fa-comments"></i>Comment</a>
              </li>

            </ul>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#cat">
              <i class="fa fa-fw fa-tag"></i>
              <span class="nav-link-text">
                Category</span>
            </a>
            <ul class="sidenav-second-level collapse" id="cat">
              <li>
                <a href="/admin/category"><i class="fa fa-fw fa-tag"></i>All Category</a>
              </li>
              <li>
                <a href="/admin/category/add"><i class="fa fa-fw fa-plus"></i>Add New Category</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#series">
              <i class="fa fa-fw fa-list"></i>
              <span class="nav-link-text">
                Series</span>
            </a>
            <ul class="sidenav-second-level collapse" id="series">
              <li>
                <a href="/admin/series"><i class="fa fa-fw fa-list"></i>All Series</a>
              </li>
              <li>
                <a href="/admin/series/add"><i class="fa fa-fw fa-plus"></i>Add New Series</a>
              </li>
            </ul>
          </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#cmt">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">
              Comment</span>
          </a>
          <ul class="sidenav-second-level collapse" id="cmt">
            <li>
              <a href="/admin/comment"><i class="fa fa-fw fa-list"></i>All Comment</a>
            </li>
          </ul>
        </li>
        </ul>
        <script type="text/javascript">
      jQuery(document).ready(function($){
        var url = window.location.href;
          $(".nav-item a").each(function() {
              if(url == (this.href)) {
                  $(this).closest("li").addClass("active");
              }
          });
      });
     </script>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">


          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-fw fa-sign-out"></i>
              Logout</a>
          </li>
        </ul>
      </div>
    </nav>
